<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.kie.api.internal.utils.ServiceDiscoveryImpl" level="WARN"/>
	<logger name="org.eclipse.aether.internal" level="WARN"/>
	<logger name="org.appformer.maven" level="WARN"/>
	<logger name="org.kie.dmn.backend.marshalling" level="WARN"/>
</configuration>
